<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.david_k.oneStopClick">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Views.Activities.ProductDetail.ProductDetailActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Views.Activities.PaymentDetail.PaymentDetailTabActivity"
            android:label="@string/title_activity_payment_tab_detail"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.david_k.oneStopClick.MainActivity" />
        </activity>
        <activity
            android:name=".Views.Activities.PaymentAddAddress.PaymentAddAddressActivity"
            android:label="Add new Address"
            android:parentActivityName=".Views.Activities.PaymentDetail.PaymentDetailTabActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Views.Activities.PaymentDetail.PaymentDetailTabActivity" />
        </activity>
        <activity
            android:name=".Views.Activities.PaymentMethods.CreditCartPaymentActivity"
            android:label="Payment using Credit Cart"
            android:parentActivityName=".Views.Activities.PaymentDetail.PaymentDetailTabActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Views.Activities.PaymentDetail.PaymentDetailTabActivity" />
        </activity>
        <activity
            android:name=".Views.Activities.PaymentMethods.CashOnDeliveryPaymentActivity"
            android:label="Payment using Cash on Delivery"
            android:parentActivityName=".Views.Activities.PaymentDetail.PaymentDetailTabActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Views.Activities.PaymentDetail.PaymentDetailTabActivity" />
        </activity>
        <activity
            android:name=".Views.Activities.PaymentMethods.PaypalPaymentActivity"
            android:label="Payment using Pay pal"
            android:parentActivityName=".Views.Activities.PaymentDetail.PaymentDetailTabActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Views.Activities.PaymentDetail.PaymentDetailTabActivity" />
        </activity>
        <activity android:name=".Views.Activities.LoginAuthentication.LoginActivity">
            <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_application_id" />
        </activity>
        <activity
            android:name=".Views.Activities.LoginAuthentication.AuthenticationActivity"
            android:label="AuthenticationActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".View.Activity.ParentActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.Activity.ChildActivity"
            android:theme="@style/AppTheme"
            android:parentActivityName=".View.Activity.ParentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.Activity.ParentActivity" /></activity>
    </application>

</manifest>